extend layout

block pageScript
    script
        console.log("starting admin console...");
        $("form#update-stats").submit(function(e) {
            e.preventDefault();
            var i, l, statsVal, stat, stats;

            stats = {
                project: $(this).find("[name=project]").val(),
                date: $(this).find("[name=date]").val()
            };

            statsVal = $(this).find("[name=stats]").val().split(",");
            for (i=0, l=statsVal.length; i<l; ++i) {
                stat = statsVal[i].split(":");
                if (stat.length == 2 && Number(stat[1])) {
                    stats[stat[0].trim()] = Number(stat[1]);
                }
            }

            var ld = $(this).find(".loading").show();
            PTCFD.clearMessages(function() {
                PTCFD.updateStats(stats, function(err, stats) {
                    ld.hide();
                    if (err) { PTCFD.error(err); return; }
                    PTCFD.success("The stats for this project were updated successfully.");
                });
            });

            return false;
        });

        if ((new Date()).toJSON) {
            $("[name=date]").val((new Date()).toJSON().substr(0,10));
        }


block content
    div.projectMenu-edit
        | <a class="btn-rounded left" href="/project/#{project.id}">Back to Chart</a>
        | <p>Editing Project:</p>
        | <h2><span class="block"></span>#{project.name}<span class="block"></span></h2>
        | <a class="btn-rounded" href="https://www.pivotaltracker.com/s/projects/#{project.id}">View in PT</a>

    p.instructions
        | Set data for a specific date:

    p.hint
        | Note that this will update data on the specified date.<br>Any values not provided will retain their original values.

    form(id="update-stats", action="", method="POST")
        div
            label(for="stats-date") Date:
            input(type="date", id="stats-date", name="date", value="", placeholder="YYYY-MM-DD")
        div
            label(for="stats=-values") Stats:
            input(type="text", id="stats-values", name="stats", placeholder='Stats (i.e. "started: 2, unstarted: 34")')
        p.hint
            | (Please enter stats in the form [stat]: [value])

        div.submit-group
            input(type="hidden", name="project", value="#{project.id}")
            input.btn-large(type="submit", value="Save")
            img(src="/images/ajax-loader.gif", alt="Working...", class="loading")
            | <a class="cancel" href="/project/#{project.id}">Cancel</a>